.TimmerGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 0;
    opacity: 1;
    z-index: 2;
}

.TimerContainer {
    position: relative;
    border-radius: 50%;
    width: 420px;
    height: 420px;
    box-shadow: 5px 25px 70px rgba(0, 0, 0, 0.75), 10px 50px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 375px) {
    .TimerContainer {
        width: 370px;
        height: 370px;
        margin-top: 70px;
    }
}

.clock {
    position: relative;
    width: 350px;
    height: 350px;
    background: linear-gradient(rgb(226, 47, 202), rgb(197, 145, 199), rgb(159, 173, 177), rgb(128, 132, 161));
    border-radius: 50%;
    box-shadow: 10px 40px 20px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset 5px 5px 15px rgba(0, 0, 0, 0.2), inset -5px -5px 10px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    user-select: none;
}

@media (max-width: 375px) {
    .clock {
        width: 300px;
        height: 300px;
    }
}

.clock::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: #fc293b;
    border: 3px solid rgb(26, 6, 21);
    border-radius: 50%;
    z-index: 100;
}

.clcokRing {
    position: absolute;
    width: 420px;
    height: 420px;
    background-color: rgb(197, 163, 163);
    border-radius: 50%;
    border: none;
    z-index: 1;
    animation: TimerTrunInfinite 90s cubic-bezier(0.1, 0.1, 0.45, 0.2) infinite;
}

@media (max-width: 375px) {
    .clcokRing {
        width: 380px;
        height: 380px;
    }
}

@keyframes TimerTrunInfinite {
    10% {
        transform: rotateZ(-36deg);
    }
    100% {
        transform: rotateZ(-360deg);
    }
}
.clcokRing span {
    position: absolute;
    inset: -5px;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
}

@media (max-width: 375px) {
    .clcokRing span {
        inset: 5px;
    }
}

.clcokRing span img {
    width: 40px;
    user-select: none;
}

@media (max-width: 375px) {
    .clcokRing span img {
        width: 35px;
    }
}

.clock span {
    position: absolute;
    inset: 10px;
    color: rgb(87, 27, 82);
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
}

.clock span b {
    font-size: 1.3em;
    opacity: 0.75;
    font-weight: 500;
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
    user-select: none;
    font-family: fantasy;
}

@media (max-width: 540px) {
    .clock span b {
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
}

.circle {
    position: absolute;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}

.circle i {
    position: absolute;
    width: 5px;
    height: 50%;
    background-color: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
}

.circle:nth-child(1) i {
    width: 2px;
}

.circle:nth-child(2) i {
    width: 4px;
}

.circle2 {
    width: 245px;
    height: 245px;
    z-index: 9;
}

.circle3 {
    width: 160px;
    height: 160px;
    z-index: 8;
}

.heart {
    position: relative;
    margin-top: 10px;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    top: 0;
    width: 13px;
    height: 20px;
    border-radius: 50px 50px 0 0;
}

.heart::before {
    left: 1.5px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart::after {
    left: -10px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.Timer1 {
    --i: 1;
}

.Timer2 {
    --i: 2;
}

.Timer3 {
    --i: 3;
}

.Timer4 {
    --i: 4;
}

.Timer5 {
    --i: 5;
}

.Timer6 {
    --i: 6;
}

.Timer7 {
    --i: 7;
}

.Timer8 {
    --i: 8;
}

.Timer9 {
    --i: 9;
}

.Timer10 {
    --i: 10;
}

.Timer11 {
    --i: 11;
}

#sc {
    --clr: #9c0c0c;
}

#sc .heart::after,
#sc .heart::before {
    background: #a10505;
}

#mn {
    --clr: #9842e9;
}

#mn .heart::after,
#mn .heart::before {
    background: #caace7;
}

#hr {
    --clr: #b94cbd;
}

#hr .heart::after,
#hr .heart::before {
    background: #bc10c2;
}

.TimeText {
    margin-left: 120px;
    margin-top: 20px;
    text-align: center;
    font-size: 32px;
    color: rgb(226, 100, 127);
    font-weight: 800;
    width: 210px;
    word-wrap: break-word;
    z-index: 99;
    background-color: rgba(230, 232, 247, 0.7);
    border-radius: 15px;
    position: absolute;
}

@media (max-width: 540px) {
    .TimeText {
        margin-left: 20px;
        font-size: 22px;
        margin-top: 50px;
    }
}

@media (max-width: 392px) {
    .TimeText {
        margin-top: 20px;
    }
}

.Flower1 {
    --i: 0.5;
    margin-top: 8px;
}

.Flower2 {
    --i: 1;
    margin-left: -5px;
}

.Flower3 {
    --i: 1.5;
    margin-right: 5px;
}

.Flower4 {
    --i: 2;
}

.Flower5 {
    --i: 2.5;
    margin-top: 2px;
}

.Flower6 {
    --i: 3;
    margin-bottom: 7px;
}

.Flower7 {
    --i: 3.5;
}

.Flower8 {
    --i: 4;
}

.Flower9 {
    --i: 4.5;
}

.Flower10 {
    --i: 5;
}

.Flower11 {
    --i: 5.5;
}

.Flower12 {
    --i: 6;
}

.Flower13 {
    --i: 6.5;
}

.Flower14 {
    --i: 7;
    margin-left: -6px;
    margin-bottom: 5px;
}

.Flower15 {
    --i: 7.5;
}

.Flower16 {
    --i: 8;
}

.Flower17 {
    --i: 8.5;
}

.Flower18 {
    --i: 9;
}

.Flower19 {
    --i: 9.5;
}

.Flower20 {
    --i: 10;
}

.Flower21 {
    --i: 10.5;
}

.Flower22 {
    --i: 11;
}

.Flower23 {
    --i: 11.5;
    margin-bottom: 2px;
    margin-left: 10px;
}

.DropItems {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(235, 123, 216), hsl(1, 56%, 83%), rgb(250, 235, 243));
}

.DropItems img {
    position: absolute;
    z-index: 0;
}

.teapot {
    width: 80px;
    margin-left: 17%;
    animation: DropItems 25s cubic-bezier(0.1, 0.1, 0.45, 0.2) infinite;
}

.bottle {
    width: 50px;
    margin-left: 70%;
    z-index: -1;
    animation: DropItems 30s cubic-bezier(0.6, 0.1, 0.45, 0.2) infinite;
}

.Chair {
    width: 50px;
    margin-left: 83%;
    animation: DropItems 10s cubic-bezier(0.5, 0.1, 0.45, 0.2) infinite;
}

.key {
    width: 30px;
    margin-left: 3%;
    animation: DropItems 20s cubic-bezier(0.8, 0.1, 0.45, 0.2) infinite;
}

.DropItems span {
    position: fixed;
}

@keyframes DropItems {
    0% {
        transform: translateY(-100px) rotate(5deg);
    }
    100% {
        transform: translateY(calc(100vh)) rotate(-145deg);
    }
}

.TimeUp {
    position: relative;
    z-index: 99;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
}

.TimeUp input {
    width: 170px;
    height: 40px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    color: #860d62;
    z-index: 10;
}

.ant-picker-time-panel-column::-webkit-scrollbar {
    width: 5px;
    background-color: #f0e4ec;
}

.TimeUpGroup {
    animation: TimeUpGroups 10s infinite;
}

@keyframes TimeUpGroups {
    0% {
        background: linear-gradient(rgb(245, 94, 89), rgb(95, 71, 6));
        opacity: 0.6;
    }
    50% {
        background: linear-gradient(rgb(95, 71, 6), rgb(194, 63, 2));
        opacity: 0.55;
    }
    100% {
        background: linear-gradient(rgb(194, 63, 2), rgb(245, 94, 89));
        opacity: 0.7;
    }
}

.TimeUpGroup .TimerContainer .clock {
    animation: clockCrazy 6s cubic-bezier(0.1, 0.1, 0.45, 0.2) infinite;
}

@keyframes clockCrazy {
    0% {
        transform: rotateZ(45deg);
        opacity: 0.7;
        font-size: 40px;
    }
    25% {
        transform: rotateZ(90deg);
        opacity: 1;
        font-size: 12px;
    }
    50% {
        transform: rotateZ(225deg);
        opacity: 0.8;
        font-size: 20px;
    }
    100% {
        transform: rotateZ(45deg);
        opacity: 0.9;
        font-size: 30px;
    }
}

.TimeUpGroup .clcokRing {
    animation: TimerTrunInfinite 4s cubic-bezier(0.1, 0.1, 0.45, 0.2) infinite;
}

.DropSoon .teapot {
    animation: DropItems 2s cubic-bezier(0.1, 0.1, 0.45, 0.2) infinite;
}

.DropSoon .bottle {
    animation: DropItems 3s cubic-bezier(0.6, 0.1, 0.45, 0.2) infinite;
}

.DropSoon .Chair {
    animation: DropItems 5s cubic-bezier(0.5, 0.1, 0.45, 0.2) infinite;
}

.DropSoon .key {
    animation: DropItems 2s cubic-bezier(0.8, 0.1, 0.45, 0.2) infinite;
}
