.IndexPanel {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* 文件說明區域 */
.IllustrateGroup {
    width: 70%;
    border-right: 0.5px solid rgb(212, 195, 195);
}

@media (max-width: 540px) {
    .IllustrateGroup {
        display: none;
    }
}

.IllustrateKv {
    width: 250px;
    height: 300px;
    margin-top: 50px;
    margin-left: 30px;
    background-color: rgba(32, 2, 2, 0.4);
    border-radius: 50px;
}

.IllustrateImgs {
    background-position: center;
    background-repeat: no-repeat;
    animation: kvAnimate 10s infinite;
    /* background-size: 150% */
}

@keyframes kvAnimate {
    0% {
        opacity: 0.9;
        background-size: 120% auto;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.9;
        background-size: 100% auto;
    }
    100% {
        opacity: 1;
        background-size: 120% auto;
    }
}

.weather {
    background-image: url(../images/png/index/wearher.png);
}

/* .weatherGif{
    background-image: url(../images/gif/index/weather.gif);
} */

.memorandum {
    background-image: url(../images/png/index/memorandum.png);
}

.questionnaire {
    background-image: url(../images/png/index/questionnaire.png);
}

.timer {
    background-image: url(../images/png/index/timer.png);
}

.LongTeng {
    background-image: url(../images/png/index/longteng.png);
}

.shoppingCart {
    background-image: url(../images/png/index/shoppingcart.png);
}

/* 首頁的圖片區域格式 */
.WellcomeMyHome {
    width: 30%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    overflow-y: scroll;
}

@media (max-width: 540px) {
    .WellcomeMyHome {
        width: 100%;
    }
}

.HoverImgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    height: 350px;
}

@media (max-width: 1280px) {
    .HoverImgs {
        width: 800px;
        height: 350px;
    }
}

@media (max-width: 540px) {
    .HoverImgs {
        width: 100%;
    }
}

.HoverImg {
    position: relative;
    width: 130px;
    height: 120px;
    line-height: 120px;
    color: rgb(247, 119, 14);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin: 25px 25px;
    text-align: center;
    user-select: none;
    border-radius: 15px;
    border: 5px double rgb(247, 119, 14);
}

.HoverImg:hover {
    font-size: 15px;
    color: rgb(22, 14, 4);
    font-weight: 800;
}

#swal2-html-container {
    color: rgb(2, 2, 26);
    font-weight: 500;
    font-size: 22px;
}
