.NavSidebar {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 6;
}

.NavButtons {
    width: 120px;
    position: absolute;
    right: 0;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.NavButtons button {
    width: 55px;
    height: 25px;
    line-height: 22px;
    margin: 10px auto;
    background-color: rgb(245, 241, 236);
    border: 0.5px solid white;
    cursor: pointer;
    font-size: 16px;
    color: rgb(234, 114, 28);
    font-weight: 800;
    border-radius: 5px;
}

.NavButtons button:hover {
    background-color: rgb(242, 140, 81);
    border: 1px double  rgb(251, 247, 245);
    color: rgb(235, 220, 133);
}