.Clouds {
  position: absolute;
}

.Cloud {
  border-radius: 10px;
  position: relative;
  margin: 33px 0 0 0;
  width: 54px;
  height: 5px;
  background: #f7e7eb;
}

.Cloud div {
  box-shadow: inset -2px -3px 0 0 #edebf8;
  position: absolute;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  left: -3px;
  bottom: 0;
  background: #fafbf0;
  z-index: 10;
}

.Cloud .CloudS2 {
  transform: scale(1.6, 1.6);
  margin: 0 0 4px 13px;
  z-index: 9;
}

.Cloud .CloudS3 {
  transform: scale(2.4, 2.4);
  margin: 0 0 9px 32px;
  z-index: 8;
}

.Cloud .CloudS4 {
  transform: scale(1.3, 1.3);
  margin: 0 0 2px 50px;
  z-index: 7;
}

.CloudyBackground {
  background: linear-gradient(to bottom, rgb(7, 53, 102), #34475e, rgb(243, 244, 252));
}

.CloudCloudy {
  background: #a89fcf;
}

.CloudCloudy div {
  background: #d3cfe5;
  box-shadow: inset -2px -3px 0 0 #a39bd3;
}

.PartlyCloudyBackground {
  background: linear-gradient(to bottom, rgb(54, 124, 203), #305f94, rgb(227, 228, 239));
}

.CloudPartlyCloudy {
  background: rgb(224, 247, 249);
  border: none;
}

.CloudPartlyCloudy::after,
.CloudPartlyCloudy::before {
  background: rgb(224, 247, 249);
}

/* =====第一種雲===== */
.Cloud2,
.Cloud4,
.Cloud8 {
  transform: scale(1.5);
}

/* =====第二種雲===== */
.Cloud1,
.Cloud5,
.Cloud7 {
  transform: scale(1);
}

/* 第三種雲 */
.Cloud0,
.Cloud3,
.Cloud6,
.Cloud9 {
  transform: scale(2);
}


.CloudRain {
  background: rgb(138, 138, 173);
}

.CloudRain div {
  background: rgb(137, 142, 179);
  box-shadow: inset -2px -3px 0 0 #858397;
}
