.RainBackground {
    background: linear-gradient(to bottom, rgb(2, 18, 85), rgb(61, 70, 121), rgb(155, 158, 224),rgb(114, 181, 197));
    opacity: 0.9;
    overflow: hidden;
    /* animation: cloudThunder 14s cubic-bezier(0.1, 0.1, 0.45, 0.2) infinite; */
}

@keyframes cloudThunder {
    10% {
        background: rgb(33, 37, 48);
    }
    20% {
        background: rgb(95, 101, 122);
    }
    30% {
        background: rgba(185, 193, 222, 0.9);
    }
    40% {
        background: rgb(1, 6, 22);
    }
    50% {
        background: rgba(185, 193, 222);
    }
    60% {
        background: rgba(185, 193, 222);
    }
    70% {
        background: rgb(57, 63, 84);
    }
    80% {
        background: rgba(185, 193, 222);
    }
    90% {
        background: linear-gradient(to bottom, rgb(243, 238, 163, 0.2),rgb(63, 63, 32), rgb(2, 3, 0));
    }
    100% {
        background: rgb(7, 10, 23);
    }
}

.Rain {
    position: fixed;
    height: 20px;
    top: 0;
    background: linear-gradient(transparent, rgb(241, 241, 249));
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 5px;
    animation: rainDrop 4s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    z-index: 5;
}

.Rain:nth-child(3n + 1) {
    background: linear-gradient(transparent, rgb(233, 237, 238));
}
.Rain:nth-child(3n + 2) {
    background: linear-gradient(transparent, rgb(215, 244, 252));
}
.Rain:nth-child(3n + 3) {
    background: linear-gradient(transparent, rgb(213, 220, 221));
}

@media (max-width: 768px) {
    .Rain {
        height: 8px;
        background: white;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
    }
    .Rain:nth-child(3n + 1) {
        background: white;
    }
    .Rain:nth-child(3n + 2) {
        background: white;
    }
    .Rain:nth-child(3n + 3) {
        background: white;
    }
}

@keyframes rainDrop {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(calc(100vh));
    }
}
