.SunBackground {
    background:linear-gradient(to bottom, rgb(90, 165, 252), #cdd8ef, rgb(240, 230, 225));
    opacity: 0.9;
    overflow: hidden;
}


@keyframes Sunlight {
    25% {
        height: 252px;
    }
    50% {
        margin-top: 1px;
        height: 253px;
        background: linear-gradient(rgb(247, 99, 54), rgb(240, 99, 74), orange, yellow);
    }
    100% {
        margin-top: 0px;
        height: 252px;
        background: linear-gradient(rgb(247, 99, 54), rgb(240, 99, 74), orange, yellow);
    }
}

@media (max-width: 1280px) {
    @keyframes Sunlight {
        25% {
            height: 152px;
            width: 152px;
        }
        50% {
            height: 154px;
            width: 152.5px;
            background: linear-gradient(rgb(247, 99, 54), rgb(240, 99, 74), orange, yellow);
        }
        100% {
            height: 152px;
            background: linear-gradient(rgb(247, 99, 54), rgb(240, 99, 74), orange, yellow);
        }
    }
}

.Sun {
    position: absolute;
    width: 250px;
    height: 250px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(rgb(247, 99, 54), rgb(240, 99, 74), orange, yellow);
    animation: Sunlight 2.5s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    z-index: 0;
    opacity: 1;
}

@media (max-width: 1280px) {
    .Sun {
        width: 150px;
        height: 150px;
    }
}
